body {
	margin: 0;
	font-family: "Architects Daughter", cursive;
	font-family: "Shadows Into Light", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

code {
	font-family: "Architects Daughter", cursive;
	font-family: "Shadows Into Light", cursive;
}
